.smallcard {
  margin-bottom: 30px;
}

.smallcard-author {
  display: block;
  margin-left: 5px;
  color: white;
  font-size: 20px;
}

.smallcard-image {
  margin-right: 75px;
  margin-bottom: 5px;
  cursor: pointer;
}

img {
  width: 220px;
}
