.login {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./pokemon.png');
  width: 100vw;
  height: 100vh;
}

.login-block {
  transform: translateY(25vh) translateX(35vw);
  width: 25%;
  height: 40%;
  background: rgb(242, 242, 242);
  border: 1px solid rgba(79, 79, 79, 0.06);
  border-radius: 5px;
}

button {
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 100%;
  outline: none;
  background: #ddd;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px #fff;
}
button:after {
  content: '➜';
  font-size: 40px;
  position: absolute;
  z-index: -1;
  top: -50px;
  left: -25px;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 10%;
  margin: auto;
}
button:hover,
button:focus {
  background: #e35d31;
  box-shadow: none;
}

button:focus {
  background-image: linear-gradient(
      120deg,
      transparent 45%,
      #e35d31 45%,
      #e35d31 55%,
      transparent 55%
    ),
    radial-gradient(transparent 20%, #fff 20%, #fff 30%, transparent 30%);
  animation: rotate31 1s linear infinite forwards;
}
button:focus:after,
button:focus:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: calc(-30% - 4px / 2);
  left: 4px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 8px solid #fff;
  border-bottom: 4px solid transparent;
  background: transparent;
  box-shadow: none;
  transform: rotate(0deg);
}

@keyframes rotate31 {
  100% {
    transform: rotate(360deg);
  }
}
